<html>
    <head>
        <meta charset="utf-8" />
        <title>WeatherStation - First configuration</title>
    </head>
    <body>
        <h1>WeatherStation</h1>
        <p>Welcome to WeatherStation</p>
        <form method="post" action="/basic/settings/set">
            <div>
                <input type="text" name="location" placeholder="Location" style="display: block"/>
                <input type="number" name="send_interval" placeholder="Data send interval" style="display: block"/>
                <input type="submit" value="Next step" style="display: block"/>
            </div>
        </form>
    </body>
</html>