.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

.Logo_grid {
  min-height: 100vh;
  align-items: center;
}

.temperatures {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.topbar_data_container{
  display: flex;
  margin-left: 22px;
  border: solid black;
  height: 7vmin;
}