.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.Logo_grid {
  min-height: 100vh;
  align-items: center;
}

.temperatures {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.graph_container{
  min-height: 20vh;
  min-width: 100vh;
}