[Unit]
Description=Wifi hotspot
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/bash /home/pi/WeatherStation/raspberry/hotspot-wifi/ServerMode/server/run.sh

[Install]
WantedBy=multi-user.target