[Unit]
Description=WeatherStation
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/WeatherStation/raspberry/mainLoop.py

[Install]
WantedBy=multi-user.target